<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>directors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'content.css' %}">
</head>
<body>

    <div id="wrapper">
        <a href="/">go home</a>
        <a href="/movies">go to movies</a>
        
        <div class="main_content">
            <h2>add a director</h2>
            <form action="/add_director" method="POST">
                {% csrf_token %}
                <input type="text" name="name">
                <input type="submit" value="Add Director">
            </form>
        </div>

        <div class="main_content">
            <h1>these are our directors:</h1>
            <table>
                <tr>
                    <th>director name</th>
                    <th>movies</th>
                </tr>
                {% for director in all_directors %}
                <tr>
                    <td><a href="/director/{{director.id}}">{{director.name}}</a></td>
                    {% for movie in director.movies.all %}
                    <td>{{movie.title}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    
</body>
</html>