<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movies</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'content.css' %}">
</head>
<body>

    <div id="wrapper">
        <a href="/">go home</a>
        <a href="/directors">go to directors</a>

        <div class="main_content">
            <h2>add a movie:</h2>
            <form action="/add_movie" method="POST">
                {% csrf_token %}
                <p>title:</p>
                <input type="text" name="title">
                <p>description:</p>
                <input type="text" name="description">
                <p>director</p>
                <select name="director">
                    {% for director in all_directors %}
                    <option value="{{director.id}}">{{director.name}}</option>
                    {% endfor %}
                </select>
                <br>
                <input type="submit" value="Add movie">
            </form>
        </div>


        <div class="main_content">
            <h1>these are our movies:</h1>
            <table>
                <tr>
                    <th>movie title</th>
                    <th>description</th>
                    <th>director</th>
                    <th>actors</th>
                </tr>
                <tr>
                {% for movie in all_movies %}
                </tr>
                <tr>
                    <td><a href="/movie/{{movie.id}}">{{movie.title}}</a></td>
                    <td>{{movie.description}}</td>
                    <td>{{movie.director.name}}</td>
                    <td>
                        {% for actor in movie.actors.all %}
                        {{actor.name}}, 
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    
</body>
</html>