<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>one movie</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'content.css' %}">
</head>
<body>
<div id="wrapper">

    <a href="/">go home</a>
    <a href="/movies">go to movies</a>

        <h1>{{one_movie.title}}</h1>
        <h3>directed by {{one_movie.director.name}}</h3>
        <p>{{one_movie.description}}</p>

        
        <h1>add actors to a movie:</h1>
        <form action="/add_actor/{{one_movie.id}}" method="POST">
            {% csrf_token %}
            <select name="actor">
                {% for actor in all_actors %}
                <option value="{{actor.id}}">{{actor.name}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="add actor to movie">
        </form>
    
    <h2>edit movie title:</h2>
    <form action="/movie/edit/{{one_movie.id}}" method="POST">
        {% csrf_token %}
        <input type="text" name="title">
        <input type="submit" value="edit title">
    </form>
    <a href="/movie/delete/{{one_movie.id}}">delete this movie</a>
</div>
</body>
</html>